# uv venv --python=3.12
# source .venv/bin/activate 
# uv pip install -r requirements.txt
# uv pip install -e .

langchain>=0.3.9
langchain-core>=0.3.59
langchain-openai
langgraph>=0.4.2
langsmith[pytest]>=0.3.4
pandas
matplotlib
pytest
pytest-xdist
jupyter
langgraph-cli[inmem]
google-api-python-client>=2.128.0
google-auth-oauthlib
google-auth-httplib2
python-dotenv
pyppeteer
html2text
rich
ipykernel
